@charset "UTF-8";

.slider__content-link {
  font-family: 'montserrat-medium';
  font-weight: 500;
}

.header__nav-list a,
.slider__content-suptitle {
  font-family: 'montserrat-semibold';
  font-weight: 600;
}

.header__nav .phone,
.header__nav .feedbackCall,
.slider__content-title {
  font-family: 'montserrat-bold';
  font-weight: 700;
}

@font-face {
  font-family: 'montserrat-regular';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff"), url("../fonts/montserrat-regular.ttf") format("ttf");
}

@font-face {
  font-family: 'montserrat-medium';
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/montserrat-medium.woff2") format("woff2"), url("../fonts/montserrat-medium.woff") format("woff"), url("../fonts/montserrat-medium.ttf") format("ttf");
}

@font-face {
  font-family: 'montserrat-semibold';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/montserrat-semibold.woff2") format("woff2"), url("../fonts/montserrat-semibold.woff") format("woff"), url("../fonts/montserrat-semibold.ttf") format("ttf");
}

@font-face {
  font-family: 'montserrat-bold';
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/montserrat-bold.woff2") format("woff2"), url("../fonts/montserrat-bold.woff") format("woff"), url("../fonts/montserrat-bold.ttf") format("ttf");
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "montserrat-regular";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "montserrat-regular";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #21243d;
  font-size: 16px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1800px;
  margin: 0 auto;
}

.title {
  font-size: 44px;
  font-weight: 700;
  color: #21243d;
  line-height: 136.36364%;
}

.text {
  font-size: 16px;
  line-height: 143.75%;
  color: #21243d;
}

.title-posts {
  font-size: 22px;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 55px;
}

.header__nav-logo {
  margin-right: 120px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  width: 100%;
  max-width: 743px;
}

.header__nav-list a {
  color: #000;
  font-size: 16px;
}

.header__nav-list a:hover {
  color: #1D67B0;
}

.header__nav .phone {
  width: 100%;
  max-width: 200px;
  color: #1D67B0;
  margin-right: 50px;
}

.header__nav .phone:hover {
  color: #3382D1;
}

.header__nav .feedbackCall {
  text-transform: uppercase;
  padding: 9px 25px;
  border-radius: 50px;
  margin-right: 20px;
  background-color: rgba(51, 102, 153, 0.17);
}

.header__nav .feedbackCall:hover {
  color: #fff;
  background-color: #1D67B0;
}

.header__nav .cart {
  background-color: transparent;
}

.slider {
  position: relative;
}

.slider__item {
  padding: 180px 0 0 200px;
}

.slider__item-1 {
  background-image: url("../img/bg-slide1.png");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 900px;
}

.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1125px;
  height: auto;
  text-align: center;
}

.slider__content-description {
  max-width: 550px;
  text-shadow: 5px 2px 5px #6a6a5a6c;
}

.slider__content-suptitle {
  font-size: 25px;
  line-height: 1;
  margin-bottom: 40px;
}

.slider__content-title {
  font-size: 40px;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.slider__content-link {
  display: inline-block;
  color: #fff;
  background-color: #1D67B0;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 20px 40px;
}

.slider__content-link:hover {
  -webkit-box-shadow: 0px 8px 10px rgba(19, 62, 106, 0.3);
          box-shadow: 0px 8px 10px rgba(19, 62, 106, 0.3);
}

.slider-dog {
  /*  position: relative;
  top: calc(10% - 100px);
  left: calc(50% - 100px); */
  -webkit-filter: drop-shadow(0 8px 10px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 8px 10px rgba(0, 0, 0, 0.5));
}

.about__more {
  position: absolute;
  top: calc(50% - 33px);
  width: 37px;
  height: 66px;
  z-index: 10;
}

.about__more svg {
  fill: #336699;
}

.about__more svg:hover {
  cursor: pointer;
  fill: #0075ac;
}

.about__more.more__item_prev {
  left: 55px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.about__more.more__item_next {
  right: 55px;
}

.page {
  padding: 90px 0px 0px 0px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  margin: 0px 17px;
  font-size: 30px;
  color: inherit;
}

@media (min-width: 991.98px) {
  .social__item:hover {
    color: #ff6464;
  }
}

@media (max-width: 1812px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 767.98px) {
  .title {
    font-size: 32px;
  }

  .title-posts {
    text-align: center;
    font-size: 18px;
  }

  .page {
    padding: 30px 0px 0px 0px;
  }
}