.slider {
  position: relative;

  &__item {
    padding: 180px 0 0 200px;

    &-1 {
      background-image: url("../img/bg-slide1.png");
      background-size: cover;
      background-position: top center;
      background-repeat: no-repeat;
      height: 900px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;

    max-width:1125px;
    height: auto;
    text-align: center;
    &-description{
      max-width: 550px;
      text-shadow: 5px 2px 5px #6a6a5a6c;
    }
    &-suptitle {
      @extend %montserrat-600;
      font-size: $fz25;
      line-height: 1;
      margin-bottom: 40px;
      
    }

    &-title {
      @extend %montserrat-700;
      font-size: $fz40;
      line-height: 1.2;
      text-transform: uppercase;
      margin-bottom: 40px;
    }

    &-link {
      display: inline-block;
      @extend %montserrat-500;
      color: $textButtons;
      background-color: $buttonLinks;
      text-transform: uppercase;
      border-radius: 50px;
      padding: 20px 40px;
      &:hover{
        box-shadow: $button-shadow;
      }
    }
  }

}

.slider-dog {
 /*  position: relative;
  top: calc(10% - 100px);
  left: calc(50% - 100px); */
  -webkit-filter:
    drop-shadow(0 8px 10px rgba(0, 0, 0, .5));
  filter:
    drop-shadow(0 8px 10px rgba(0, 0, 0, .5));
}

.about__more {
  position: absolute;
  top: calc(50% - 33px);
  width: 37px;
  height: 66px;
  z-index: 10;

  svg {
    fill: $crossPrice;

    &:hover {
      cursor: pointer;
      fill: #0075ac;
    }
  }

  &.more__item_prev {
    left: 55px;
    transform: rotate(180deg);
  }

  &.more__item_next {
    right: 55px;
  }
}