$mainText: #000;
$subtitle: rgba(0, 0, 0, 0.5);
$buttonLinks: #1D67B0;
$lightBlue: #3382D1;
$textButtons: #fff;
$sale: #F97878;
$crossPrice: #336699;
$opacityBlue: rgba(51, 102, 153, 0.17);
$placeHolder: rgba(25, 25, 24, 0.32);
$button-shadow: 0px 8px 10px rgba(19, 62, 106, 0.3);
$fz16: 16px;
$fz25: 25px;
$fz40: 40px;


%montserrat-400{
  font-family: 'montserrat-regular';
  font-weight: 400;
}

%montserrat-500{
  font-family: 'montserrat-medium';
  font-weight: 500;
}

%montserrat-600{
  font-family: 'montserrat-semibold';
  font-weight: 600;
}

%montserrat-700{
  font-family: 'montserrat-bold';
  font-weight: 700;
}

